<h1>Tambah Gamer</h1>
<form method="post" action="/dataGamer/addGame">
    <label for="username">User Name</label><br>
    <input type="text" id="username" name="user_name" /><br>
    <label for="nama">Nama</label><br>
    <input type="text" id="nama" name="nama" /><br>
    <label for="usia">Usia</label><br>
    <input type="text" id="usia" name="usia" /><br>
    <label for="kota">Kota</label><br>
    <input type="text" id="kota" name="kota" /><br>
    <label for="password">Password</label><br>
    <input type="text" id="password" name="password" /><br>
    <label for="game">Game</label><br>
    <input type="text" id="game" name="nama_game_dimainkan" /><br>
    <label for="durasi">Durasi</label><br>
    <input type="text" id="durasi" name="selama" /><br><br><br>
    <button type="submit">Add New Player</button>
</form>